footer{
    padding-top: 2.3%;
    border-bottom: 1px solid #FFFFFF;

    .content{
        max-width: 1550px;
        margin: 0 auto;
        padding: 0 35px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-content{
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .footer-img{
        flex-basis: 15%;
        text-align: right;

        img{
            //width: 100%;
        }
    }

    .footer-top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        font-weight: 500;
        font-size: 22px;
        line-height: 27px;

        margin-bottom: 3.8%;

        .footer-logo-adapt{
            display: none;
            margin-bottom: 18px;
            padding: 5px;

            img{
                width: 100%;
                margin-right: 10px;
            }

            h3{
                font-weight: 500;
                font-size: 27px;
                line-height: 40px;
            }
        }

        .menu-flex{
            display: flex;
            align-items: center;

            menu{
                a{
                    margin-right: 40px;
                    transition: 0.1s;
                    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.0);
                }
    
                a:hover{
                    border-bottom: 2px solid rgba($color: #FFFFFF, $alpha: 1.0);
                }
            }

            .line{
                height: 48px;
                border-left: 1px solid #959595;
    
                margin-right: 40px;
            }

            .language{
                margin-right: 50px;
            }
        }

        .button-flex{
            display: flex;

            .button_type1{
                margin-right: 20px;
            }
        }
    }

    .footer-bottom{
        display: flex;
        width: 100%;

        padding-bottom: 2.8%;

        .footer-logo{
            display: flex;
            align-items: center;

            flex-basis: 30%;

            h3{
                font-family: 'Chakra Petch', sans-serif;

                font-weight: 600;
                font-size: 31.5215px;
                line-height: 41px;

                margin-left: 13px;
            }
        }

        .footer-text{
            font-weight: 500;
            font-size: 17px;
            line-height: 21px;
            color: #959595;

            width: 100%;
        }
    }
}


@media(max-width: 1450px){
    footer{
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
    
        .content{

        }
    
        .footer-content{
    
        }
    
        .footer-img{
            display: none;

            flex-basis: 15%;
    
            img{

            }
        }
    
        .footer-top{
            font-size: 22px;
            line-height: 27px;
    
            .menu-flex{
                menu{
                    flex-direction: column;
                }
    
                .line{
                    display: none;
                }
    
                .language{
                    display: none;
                }
            }
    
            .button-flex{
                .button_type1{
                    margin-right: 20px;
                }
            }
        }
    
        .footer-bottom{
            .footer-logo{
                display: none;

                flex-basis: 30%;
    
                h3{
                    font-size: 31.5215px;
                    line-height: 41px;
                }
            }
    
            .footer-text{
                font-size: 17px;
                line-height: 21px;
            }
        }
    }
}

@media(max-width: 1050px){
    footer{    
        .footer-top{
            flex-direction: column;
            text-align: center;

            margin-bottom: 24px;

            .footer-logo-adapt{
                display: flex;
                align-items: center;

                margin-top: 18px;

                img{
                    flex-basis: 15%;
                }

                h3{
                    flex-basis: 85%;
                }
            }
    
            .menu-flex{
                margin-bottom: 24px;

                menu{
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    a{
                        margin: 0;
                        padding: 10px 20px;

                        font-weight: 500;
                        font-size: 30px;
                        line-height: 40px;

                        transition: 0.3s;
                        
                        border-radius: 60px;
                        border: 0.5px solid rgba($color: #FFFFFF, $alpha: 0);
                    }

                    a:hover{
                        border: 0.5px solid rgba($color: #FFFFFF, $alpha: 1.0);
                    
                        background-color: #0D0D0D;
                    }
                    
                        a:active{                    
                        background-color: #4a4a4a;
                    }

                    a:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
            }
    
            .button-flex{
                .button_type1{
                    margin-right: 20px;
                }

                button{
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 30px;

                    padding: 18px 20px;
                }
            }
        }
    
        .footer-bottom{    
            .footer-text{
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                text-align: center;
            }
        }
    }
}

@media(max-width: 600px){
    footer{    
        .footer-top{
            flex-direction: column;
            text-align: center;

            margin-bottom: 24px;
    
            .menu-flex{
                margin-bottom: 24px;

                menu{
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    a{
                        margin: 0;

                        font-weight: 500;
                        font-size: 21px;
                        line-height: 25px;
                    }

                    a:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
            }
    
            .button-flex{
                .button_type1{
                    margin-right: 20px;
                }

                button{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;

                    padding: 14px 15px;
                }
            }
        }
    
        .footer-bottom{    
            .footer-text{
                font-weight: 500;
                font-size: 9px;
                line-height: 11px;
                text-align: center;
            }
        }
    }
}