@import url("null.css");
@import url("header.css");
@import url("footer.css");
@import url("preloader.css");

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=Montserrat:wght@400;500;600&display=swap');

//font-family: 'Chakra Petch', sans-serif;
//font-family: 'Montserrat', sans-serif;

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;

    overflow-x: hidden;
}

.content{
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 35px;

    position: relative;
}



.button_type1, .button_type2{
    padding: 18px 35px;
    border-radius: 50px;

    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    color: #FFFFFF;
}

.button_type1{
    border: 2px solid #FFFFFF;
    background: rgba($color: #FFFFFF, $alpha: 0);
}

.button_type2{
    border: #000000 2px solid;
    background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);  
}

.button_type2:hover{
    border: #FFFFFF 2px solid;
}

.button{
    transition: 0.3s;
}

.button:hover{
    transform: scale(1.05);
}

.button:active{
    transform: scale(0.98);
    transition: 0.1s;
}



.main{
    padding-top: 204px;
    margin-bottom: 91px;

    .main_flex{
        display: flex;

        .main_text{
            h1{
                font-family: 'Chakra Petch', sans-serif;

                font-weight: 600;
                font-size: 147px;
                line-height: 191px;

                background: linear-gradient(103.59deg, #54D6FF 13.23%, #C275FF 56.28%, #F36AFF 91.95%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;

                margin-bottom: 19px;
            }

            .main_p1{
                font-size: 48px;
                line-height: 59px; 
                
                margin-bottom: 10px;
            }

            .main_p2{
                font-weight: 400;
                font-size: 37px;
                line-height: 45px;

                color: #959595;

                margin-bottom: 40px;
            }

            .main_button-flex{
                display: flex;

                .button_type1{
                    margin-right: 20px;
                }
            }
        }

        .main_img{
            flex-basis: 60%;

            .main_img-box{
                width: 100%;

                img{
                    width: 100%;
                }
            }
        }
    }
}

.section-1{
    margin-bottom: 223px;;

    h1{
        font-family: 'Chakra Petch', sans-serif;

        font-weight: 700;
        font-size: 60px;
        line-height: 78px;

        text-align: center;

        margin-bottom: 40px;

        span{
            color: #F36AFF;
        }
    }

    .swiper-container{
        .swiper-wrapper{
            .swiper-slide{
                position: relative;

                margin: 0 auto;
                text-align: center;

                height: 345px;

                max-width: 350px;

                background: #0D0D0D;
                
                border: #C275FF solid 1px;
                box-shadow: 2px 2px 9px #91009D;
                border-radius: 60px;

                padding: 22px 21px 23px 30px;

                .slide-content{
                    img{
                        margin-bottom: 11px;
                    }
    
                    h3{
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 34px;
                        text-align: center;
    
                        margin-bottom: 19px;
                    }
    
                    p{
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        letter-spacing: 0.02em;
    
                        margin-bottom: 20px;
    
                        max-width: 299px;
                    }
    
                    button{
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
    
                        background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    
                        position: absolute;
                        left: 43%;
                        bottom: 23px;
                    }
                }
            }
        }
    }
}

.section-2{
    .block-flex{
        display: flex;
        justify-content: space-between;

        margin-bottom: 140px;

        .block-flex_img{
            flex-basis: 47%;
            width: 100%;

            img{
                width: 100%;
            }
        }

        .block-flex_info{
            flex-basis: 50%;

            .scobca-right{
                text-align: right;
                margin-bottom: -50px;
            }

            .scobca-left{
                margin-top: -10px;
                margin-left: -50px;
            }

            h2{
                font-family: 'Chakra Petch', sans-serif;

                font-weight: 600;
                font-size: 85px;
                line-height: 110px;
                letter-spacing: -0.02em;
            }

            p{
                line-height: 30px;
                letter-spacing: 0.03em;
            }

            .footer-info{
                display: flex;
                align-items: flex-end;

                a{
                    flex-basis: 70%;
                }

                .footer-info_deco{
                    display: flex;
                    align-items: flex-end;
                    width: 100%;

                    .line-block{
                        height: 23px;
                        width: 100%;

                        border-top: 2px dashed #FFFFFF;
                        border-bottom: 2px solid #FFFFFF;
                    }

                    h5{
                        font-weight: 400;
                        font-size: 19px;
                        line-height: 180%;

                        font-family: 'Chakra Petch', sans-serif;

                        writing-mode: vertical-rl;
                    }
                }
            }

            button{
                font-weight: 600;
                font-size: 27px;
                line-height: 33px;
                color: #FFFFFF;

                border-radius: 60px 0px;
                padding: 22px 20px;

                background-color: rgba($color: #000000, $alpha: 0);
            
                border: #FFFFFF 2px solid;

                display: flex;
                align-items: center;

                position: relative;
                left: -40px;

                //margin-top: 25px;

                img{
                    margin-left: 18px;
                }
            }

            button:hover{
                background-color: #a355e2;
            }
        }
    }

    .block-1 .block-flex_info h2{
        span{
            color: greenyellow;
        }
    }

    .block-2 .block-flex_info h2{
        span{
            color: skyblue;
        }
    }

    .block-3 .block-flex_info h2{
        span{
            color: orange;
        }
    }
}

.section-3{
    margin-bottom: 50px;

    h1{
        font-family: 'Chakra Petch', sans-serif;

        font-weight: 700;
        font-size: 60px;
        line-height: 78px;
        
        text-align: center;

        margin-bottom: 50px;
    }

    .section-3_swiper-container{
        margin-bottom: 75px;

        .swiper-wrapper{
            .swiper-slide{
                max-width: 280px;
                overflow: hidden;

                //height: 426px;
                //height: calc((100% - 30px) / 2) !important;

                text-align: center;

                background: #0D0D0D;
                
                border: #C275FF solid 1px;
                box-shadow: 2px 2px 9px #91009D;
                border-radius: 10px;

                h3{
                    font-weight: 600;
                    font-size: 23px;
                    line-height: 28px;

                    margin-bottom: 13.5px;
                    padding-top: 11.5px;
                }

                h5{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;

                    text-align: center;
                    
                    color: #959595;

                    margin-bottom: 35px;
                }

                .icons-flex{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    max-width: 138px;
                    margin: 0 auto;
                    
                    padding-bottom: 20px;

                    img{
                        padding: 5px;
                        transition: 0.2s;
                    }

                    img:hover{
                        transform: scale(1.2);
                    }

                    img:active{
                        transform: scale(0.9);
                    }
                }
            }
        }
    }

    button{
        background-color: rgba($color: #000000, $alpha: 0);

        border: 2px solid #FFFFFF;
        border-radius: 50px 0px;

        padding: 18px 25px;

        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;

        display: flex;
        align-items: center;
        //justify-content: space-around;

        margin: 0 auto;

        img{
            margin-left: 10px;
        }
    }

    button:hover{
        background-color: #a355e2;
    }
}

.section-4{
    margin-bottom: 154px;

    .swiper-container{
        max-width: 95vw;
        margin: 0 auto;
        overflow: hidden;
        background-color: #000000;

        .swiper-wrapper{
            align-items: center;
            text-align: center;
        }

        .swiper-slide{
            text-align: center;
        }

        .swiper-slide:not(:last-child){
            //margin: 0 50px;
        }
    }
}

.section-5{
    margin-bottom: 182px;

    .content-flex{
        display: flex;

        .title{
            flex-basis: 45%;

            h1{
                font-family: 'Chakra Petch', sans-serif;

                font-weight: 700;
                font-size: 60px;
                line-height: 78px;
                text-align: center;
                letter-spacing: 0.02em;

                background: linear-gradient(143.85deg, #FFB78F 11.79%, #DB73FF 85.69%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }

            .title-img{
                img{
                    width: 100%;
                }
            }
        }

        .questions{
            flex-basis: 55%;

            .question-block{
                background: #0D0D0D;
                box-shadow: 2px 2px 20px rgba(239, 57, 255, 0.3);
                border-radius: 10px;
                border: rgba(239, 57, 255, 0.5) 1px solid;

                padding: 30px 37px 30px 20px;

                transition: 0.5s;

                cursor: pointer;

                .title-flex{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h3{
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 34px;
                    }
                }

                p{
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 180%;
                    color: #959595;

                    opacity: 1;
                    transition: 0.3s;

                    margin-top: 20px;
                }
            }

            .hide{
                p{
                    opacity: 0;
                    font-size: 0;

                    margin-top: 0;
                }
            }
        }

        .questions .question-block:not(:last-child){
            margin-bottom: 30px;
        }
    }
}

.section-6{
    margin-bottom: 280px;

    h1{
        font-family: 'Chakra Petch', sans-serif;

        font-weight: 700;
        font-size: 60px;
        line-height: 78px;
        text-align: center;

        margin-bottom: 110px;
    }

    .img-box{
        max-width: 1235px;
        margin: 0 auto;

        img{
            width: 100%;
        }
    }
}

.section-7{
    position: relative;
    margin-bottom: 212px;

    img{
        position: absolute;
    }

    .coin-left{
        left: 60px;
        top: -100px;
    }

    .coin-right{
        right: 152px;
        top: 250px;
    }

    .contact-box{
        max-width: 611px;
        margin: 0 auto;
        text-align: center;

        h2{
            font-weight: 700;
            font-size: 50px;
            line-height: 61px;

            margin-bottom: 22px;
        }

        .forms{
            margin-bottom: 60px;

            form{
                border-bottom: 2px solid #FFFFFF;
                text-align: left;

                position: relative;

                input{
                    padding: 41px 0 20px 10px;
                    background-color: rgba($color: #000000, $alpha: 0.0);

                    font-family: 'Montserrat', sans-serif;

                    font-weight: 500;
                    font-size: 28px;
                    line-height: 34px;

                    color: #FFFFFF;

                    width: 100%;
                }

                label{
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 34px;
    
                    color: #959595;

                    position: absolute;

                    bottom: 20px;

                    transition: 0.3s;
                }

                .input:focus ~ .label,
                .input:not(:placeholder-shown) ~ .label {
                    transform: translateY(-30px) translateX(10px) scale(0.75);
                }
            }
        }

        button{
            border-radius: 0px 60px;
            border: 2px solid #FFFFFF;
            background-color: rgba($color: #000000, $alpha: 0.0);

            padding: 17px 73px;

            font-weight: 600;
            font-size: 28px;
            line-height: 34px;

            color: #FFFFFF;
        }

        button:hover{
            background-color: #a355e2;
        }
    }
}