@import url("null.css");
@import url("header.css");
@import url("footer.css");
@import url("preloader.css");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=Montserrat:wght@400;500;600&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #FFFFFF;
  overflow-x: hidden;
}

.content {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 35px;
  position: relative;
}

.button_type1, .button_type2 {
  padding: 18px 35px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.button_type1 {
  border: 2px solid #FFFFFF;
  background: rgba(255, 255, 255, 0);
}

.button_type2 {
  border: #000000 2px solid;
  background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);
}

.button_type2:hover {
  border: #FFFFFF 2px solid;
}

.button {
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.98);
  transition: 0.1s;
}

.main {
  padding-top: 204px;
  margin-bottom: 91px;
}
.main .main_flex {
  display: flex;
}
.main .main_flex .main_text h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 147px;
  line-height: 191px;
  background: linear-gradient(103.59deg, #54D6FF 13.23%, #C275FF 56.28%, #F36AFF 91.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 19px;
}
.main .main_flex .main_text .main_p1 {
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 10px;
}
.main .main_flex .main_text .main_p2 {
  font-weight: 400;
  font-size: 37px;
  line-height: 45px;
  color: #959595;
  margin-bottom: 40px;
}
.main .main_flex .main_text .main_button-flex {
  display: flex;
}
.main .main_flex .main_text .main_button-flex .button_type1 {
  margin-right: 20px;
}
.main .main_flex .main_img {
  flex-basis: 60%;
}
.main .main_flex .main_img .main_img-box {
  width: 100%;
}
.main .main_flex .main_img .main_img-box img {
  width: 100%;
}

.section-1 {
  margin-bottom: 223px;
}
.section-1 h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: center;
  margin-bottom: 40px;
}
.section-1 h1 span {
  color: #F36AFF;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: 345px;
  max-width: 350px;
  background: #0D0D0D;
  border: #C275FF solid 1px;
  box-shadow: 2px 2px 9px #91009D;
  border-radius: 60px;
  padding: 22px 21px 23px 30px;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide .slide-content img {
  margin-bottom: 11px;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide .slide-content h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 19px;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide .slide-content p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  max-width: 299px;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide .slide-content button {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: absolute;
  left: 43%;
  bottom: 23px;
}

.section-2 .block-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}
.section-2 .block-flex .block-flex_img {
  flex-basis: 47%;
  width: 100%;
}
.section-2 .block-flex .block-flex_img img {
  width: 100%;
}
.section-2 .block-flex .block-flex_info {
  flex-basis: 50%;
}
.section-2 .block-flex .block-flex_info .scobca-right {
  text-align: right;
  margin-bottom: -50px;
}
.section-2 .block-flex .block-flex_info .scobca-left {
  margin-top: -10px;
  margin-left: -50px;
}
.section-2 .block-flex .block-flex_info h2 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 85px;
  line-height: 110px;
  letter-spacing: -0.02em;
}
.section-2 .block-flex .block-flex_info p {
  line-height: 30px;
  letter-spacing: 0.03em;
}
.section-2 .block-flex .block-flex_info .footer-info {
  display: flex;
  align-items: flex-end;
}
.section-2 .block-flex .block-flex_info .footer-info a {
  flex-basis: 70%;
}
.section-2 .block-flex .block-flex_info .footer-info .footer-info_deco {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.section-2 .block-flex .block-flex_info .footer-info .footer-info_deco .line-block {
  height: 23px;
  width: 100%;
  border-top: 2px dashed #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
.section-2 .block-flex .block-flex_info .footer-info .footer-info_deco h5 {
  font-weight: 400;
  font-size: 19px;
  line-height: 180%;
  font-family: "Chakra Petch", sans-serif;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
.section-2 .block-flex .block-flex_info button {
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  color: #FFFFFF;
  border-radius: 60px 0px;
  padding: 22px 20px;
  background-color: rgba(0, 0, 0, 0);
  border: #FFFFFF 2px solid;
  display: flex;
  align-items: center;
  position: relative;
  left: -40px;
}
.section-2 .block-flex .block-flex_info button img {
  margin-left: 18px;
}
.section-2 .block-flex .block-flex_info button:hover {
  background-color: #a355e2;
}
.section-2 .block-1 .block-flex_info h2 span {
  color: greenyellow;
}
.section-2 .block-2 .block-flex_info h2 span {
  color: skyblue;
}
.section-2 .block-3 .block-flex_info h2 span {
  color: orange;
}

.section-4 {
  margin-bottom: 154px;
}
.section-4 .swiper-container {
  max-width: 95vw;
  margin: 0 auto;
  overflow: hidden;
  background-color: #000000;
}
.section-4 .swiper-container .swiper-wrapper {
  align-items: center;
  text-align: center;
}
.section-4 .swiper-container .swiper-slide {
  text-align: center;
}
.section-5 {
  margin-bottom: 182px;
}
.section-5 .content-flex {
  display: flex;
}
.section-5 .content-flex .title {
  flex-basis: 45%;
}
.section-5 .content-flex .title h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: center;
  letter-spacing: 0.02em;
  background: linear-gradient(143.85deg, #FFB78F 11.79%, #DB73FF 85.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.section-5 .content-flex .title .title-img img {
  width: 100%;
}
.section-5 .content-flex .questions {
  flex-basis: 55%;
}
.section-5 .content-flex .questions .question-block {
  background: #0D0D0D;
  box-shadow: 2px 2px 20px rgba(239, 57, 255, 0.3);
  border-radius: 10px;
  border: rgba(239, 57, 255, 0.5) 1px solid;
  padding: 30px 37px 30px 20px;
  transition: 0.5s;
  cursor: pointer;
}
.section-5 .content-flex .questions .question-block .title-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-5 .content-flex .questions .question-block .title-flex h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}
.section-5 .content-flex .questions .question-block p {
  font-weight: 400;
  font-size: 19px;
  line-height: 180%;
  color: #959595;
  opacity: 1;
  transition: 0.3s;
  margin-top: 20px;
}
.section-5 .content-flex .questions .hide p {
  opacity: 0;
  font-size: 0;
  margin-top: 0;
}
.section-5 .content-flex .questions .question-block:not(:last-child) {
  margin-bottom: 30px;
}

.section-6 {
  margin-bottom: 280px;
}
.section-6 h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: center;
  margin-bottom: 110px;
}
.section-6 .img-box {
  max-width: 1235px;
  margin: 0 auto;
}
.section-6 .img-box img {
  width: 100%;
}

.section-7 {
  position: relative;
  margin-bottom: 212px;
}
.section-7 img {
  position: absolute;
}
.section-7 .coin-left {
  left: 60px;
  top: -100px;
}
.section-7 .coin-right {
  right: 152px;
  top: 250px;
}
.section-7 .contact-box {
  max-width: 611px;
  margin: 0 auto;
  text-align: center;
}
.section-7 .contact-box h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 22px;
}
.section-7 .contact-box .forms {
  margin-bottom: 60px;
}
.section-7 .contact-box .forms form {
  border-bottom: 2px solid #FFFFFF;
  text-align: left;
  position: relative;
}
.section-7 .contact-box .forms form input {
  padding: 41px 0 20px 10px;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
  width: 100%;
}
.section-7 .contact-box .forms form label {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #959595;
  position: absolute;
  bottom: 20px;
  transition: 0.3s;
}
.section-7 .contact-box .forms form .input:not(:-moz-placeholder-shown) ~ .label {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}
.section-7 .contact-box .forms form .input:not(:-ms-input-placeholder) ~ .label {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}
.section-7 .contact-box .forms form .input:focus ~ .label,
.section-7 .contact-box .forms form .input:not(:placeholder-shown) ~ .label {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}
.section-7 .contact-box button {
  border-radius: 0px 60px;
  border: 2px solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  padding: 17px 73px;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}
.section-7 .contact-box button:hover {
  background-color: #a355e2;
}/*# sourceMappingURL=index.css.map */