@import url("null.css");
@import url("header.css");
@import url("footer.css");
@import url("preloader.css");

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=Montserrat:wght@400;500;600&display=swap');

//font-family: 'Chakra Petch', sans-serif;
//font-family: 'Montserrat', sans-serif;

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;

    overflow-x: hidden;
    max-width: 100vw;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.content{
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 35px;

    position: relative;
}

img{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.unscroll{
    overflow: hidden;
}


.button_type1, .button_type2{
    padding: 18px 35px;
    border-radius: 50px;

    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    color: #FFFFFF;
}

.button_type1{
    border: 2px solid #FFFFFF;
    background: rgba($color: #FFFFFF, $alpha: 0);
}

.button_type2{
    border: #000000 2px solid;
    background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);  
}

.button_type2:hover{
    border: #FFFFFF 2px solid;
}

.button{
    transition: 0.3s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button:hover{
    transform: scale(1.05);
}

.button:active{
    transform: scale(0.98);
    transition: 0.1s;
}



.main{
    padding-top: 204px;
    margin-bottom: 5.8%;

    .main_flex{
        display: flex;

        .main_text{
            h1{
                font-family: 'Chakra Petch', sans-serif;

                font-weight: 600;
                font-size: 147px;
                line-height: 191px;

                background: linear-gradient(103.59deg, #54D6FF 13.23%, #C275FF 56.28%, #F36AFF 91.95%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;

                margin-bottom: 2.2%;
            }

            .main_p1{
                font-size: 48px;
                line-height: 59px; 
                
                margin-bottom: 1.2%;
            }

            .main_p2{
                font-weight: 400;
                font-size: 37px;
                line-height: 45px;

                color: #959595;

                margin-bottom: 4.7%;
            }

            .main_button-flex{
                display: flex;

                .button_type1{
                    margin-right: 20px;
                }
            }
        }

        .main_img{
            flex-basis: 60%;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;

            .main_img-box{
                width: 100%;

                img{
                    width: 100%;
                }
            }
        }
    }
}

.section-1{
    margin-bottom: 14%;;

    h1{
        font-family: 'Chakra Petch', sans-serif;

        font-weight: 700;
        font-size: 60px;
        line-height: 78px;

        text-align: center;

        margin-bottom: 3.5%;

        span{
            color: #F36AFF;
        }
    }

    .swiper-container{
        overflow: hidden;
        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        .swiper-wrapper{
            .swiper-slide{
                position: relative;

                margin: 0 auto;
                text-align: center;

                height: 345px;

                //max-width: 350px;

                background: #0D0D0D;
                
                border: #C275FF solid 1px;
                box-shadow: 2px 2px 9px #91009D;
                border-radius: 60px;

                padding: 22px 21px 23px 30px;

                .slide-content{
                    img{
                        margin-bottom: 4%;
                    }
    
                    h3{
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 34px;
                        text-align: center;
    
                        margin-bottom: 7.8%;
                    }
    
                    p{
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        letter-spacing: 0.02em;

                        margin: 0 auto;    
                        //margin-bottom: 20px;
    
                        max-width: 299px;
                    }
    
                    button{
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
    
                        background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    
                        position: absolute;
                        left: 43%;
                        bottom: 7%;
                    }
                }
            }
        }
    }
}

.section-2{
    position: relative;

    .block-flex{
        position: relative;

        display: flex;
        justify-content: space-between;

        margin-bottom: 10%;

        .block-flex_img{
            flex-basis: 47%;
            width: 100%;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;

            img{
                width: 100%;
            }
        }

        .block-flex_info{
            flex-basis: 50%;
            position: static;

            .scobca-right{
                text-align: right;
                margin-bottom: -50px;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }

            .scobca-left{
                margin-top: -10px;
                margin-left: -50px;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }

            h2{
                font-family: 'Chakra Petch', sans-serif;

                font-weight: 600;
                font-size: 85px;
                line-height: 110px;
                letter-spacing: -0.02em;
            }

            p{
                line-height: 30px;
                letter-spacing: 0.03em;
            }

            .footer-info{
                display: flex;
                align-items: flex-end;

                a{
                    flex-basis: 45%;
                }

                .footer-info_deco{
                    display: flex;
                    align-items: flex-end;
                    width: 100%;
                    flex-basis: 55%;

                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;

                    .line-block{
                        height: 23px;
                        width: 100%;

                        border-top: 2px dashed #FFFFFF;
                        border-bottom: 2px solid #FFFFFF;
                    }

                    h5{
                        font-weight: 400;
                        font-size: 19px;
                        line-height: 180%;

                        font-family: 'Chakra Petch', sans-serif;

                        writing-mode: vertical-rl;
                    }
                }
            }

            button{
                font-weight: 600;
                font-size: 27px;
                line-height: 33px;
                color: #FFFFFF;

                border-radius: 60px 0px;
                padding: 22px 20px;
                filter: drop-shadow(2.36275px 2.36275px 23.6275px rgba(239, 57, 255, 0.5));

                background-color: rgba($color: #000000, $alpha: 0);
            
                border: #FFFFFF 2px solid;

                display: flex;
                align-items: center;

                position: relative;
                left: -40px;

                //margin-top: 25px;

                img{
                    margin-left: 18px;
                }
            }

            button:hover{
                background-color: #a355e2;
            }
        }
    }

    .block-1 .block-flex_info{
        h2{
            span{
                color: greenyellow;
            }
        }

        button{
            border: greenyellow 2px solid;
        }

        button:hover{
            background-color: rgb(117, 174, 32);
        }

        .deco{
            position: absolute;

            right: -300px;
            top: -200px;

            z-index: -1;
        }
    }

    .block-2 .block-flex_info{
        h2{
            span{
                color: skyblue;
            }
        }

        button{
            border: skyblue 2px solid;
        }

        button:hover{
            background-color: rgb(93, 142, 161);
        }

        .deco{
            position: absolute;

            left: -300px;
            top: -200px;

            z-index: -1;
        }
    }

    .block-3 .block-flex_info{
        h2{
            span{
                color: orange;
            }
        }

        button{
            border: orange 2px solid;
        }

        button:hover{
            background-color: rgb(174, 114, 1);
        }

        .deco{
            position: absolute;

            right: -300px;
            top: -200px;

            z-index: -1;
        }
    }
}

.section-3{
    margin-bottom: 3%;
    position: relative;

    .deco{
        position: absolute;
        z-index: -1;

        width: 40%;
        img{
            width: 100%;
        }
    }

    .deco-left{
        top: -300px;
        left: 0;
    }

    .deco-right{
        top: -150px;
        right: 0;
    }

    h1{
        font-family: 'Chakra Petch', sans-serif;

        font-weight: 700;
        font-size: 60px;
        line-height: 78px;
        
        text-align: center;

        margin-bottom: 3.7%;
    }

    .nav{
        display: none;
    }

    .section-3_team{
        .team-row{
            display: flex;
            justify-content: space-between;

            margin-bottom: 40px;

            .team-card{
                overflow: hidden;
                text-align: center;

                margin: 0 10px;

                background: #0D0D0D;
                
                border: #C275FF solid 1px;
                box-shadow: 2px 2px 9px #91009D;
                border-radius: 10px;

                img{
                    width: 100%;
                    margin-bottom: 4%;
                }

                h3{
                    font-weight: 600;
                    font-size: 23px;
                    line-height: 28px;

                    margin-bottom: 5%;
                }

                h5{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;

                    text-align: center;
                    
                    color: #959595;

                    margin-bottom: 12.8%;
                }

                .icons-flex{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    max-width: 138px;
                    margin: 0 auto;
                    
                    padding-bottom: 7.8%;

                    img{
                        padding: 5px;
                        transition: 0.2s;
                    }

                    img:hover{
                        transform: scale(1.2);
                    }

                    img:active{
                        transform: scale(0.9);
                    }
                }
            }
        }
    }

    .swiper-container{
        display: none;

        margin-bottom: 5.5%;
        overflow: hidden;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        .swiper-wrapper{
            .swiper-slide{
                //max-width: 280px;
                overflow: hidden;

                //height: 426px;
                //height: calc((100% - 30px) / 2) !important;

                text-align: center;

                background: #0D0D0D;
                
                border: #C275FF solid 1px;
                box-shadow: 2px 2px 9px #91009D;
                border-radius: 10px;

                img{
                    width: 100%;
                    margin-bottom: 4%;
                }

                h3{
                    font-weight: 600;
                    font-size: 23px;
                    line-height: 28px;

                    margin-bottom: 5%;
                }

                h5{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;

                    text-align: center;
                    
                    color: #959595;

                    margin-bottom: 12.8%;
                }

                .icons-flex{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    max-width: 138px;
                    margin: 0 auto;
                    
                    padding-bottom: 7.8%;

                    img{
                        padding: 5px;
                        transition: 0.2s;
                    }

                    img:hover{
                        transform: scale(1.2);
                    }

                    img:active{
                        transform: scale(0.9);
                    }
                }
            }
        }
    }

    button{
        background-color: rgba($color: #000000, $alpha: 0);

        border: 2px solid #FFFFFF;
        border-radius: 50px 0px;

        filter: drop-shadow(2.36275px 2.36275px 23.6275px rgba(239, 57, 255, 0.5));

        padding: 18px 25px;

        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;

        display: flex;
        align-items: center;
        //justify-content: space-around;

        margin: 0 auto;

        img{
            margin-left: 10px;
        }
    }

    button:hover{
        background-color: #a355e2;
    }
}

.section-4{
    margin-bottom: 10%;

    position: relative;
    z-index: -2;

    .swiper-container{
        max-width: 95vw;
        margin: 0 auto;
        overflow: hidden;
        background-color: #000000;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        .swiper-wrapper{
            align-items: center;
            //text-align: center;
        }

        .swiper-slide{
            //text-align: center;

            img{
                width: 100%;
            }
        }
    }
}

.section-5{
    margin-bottom: 10.5%;

    .content-flex{
        display: flex;

        .title{
            flex-basis: 45%;

            h1{
                font-family: 'Chakra Petch', sans-serif;

                font-weight: 700;
                font-size: 60px;
                line-height: 78px;
                text-align: center;
                letter-spacing: 0.02em;

                background: linear-gradient(143.85deg, #FFB78F 11.79%, #DB73FF 85.69%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }

            .title-img{
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;

                img{
                    width: 100%;
                }
            }
        }

        .questions{
            flex-basis: 55%;

            .question-block{
                background: #0D0D0D;
                box-shadow: 2px 2px 20px rgba(239, 57, 255, 0.3);
                border-radius: 10px;
                border: rgba(239, 57, 255, 0.5) 1px solid;

                filter: drop-shadow(1px 1px 5px rgba(239, 57, 255, 0.3));

                padding: 30px 37px 30px 20px;

                transition: 0.5s;

                cursor: pointer;

                .title-flex{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h3{
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 34px;
                    }

                    img{
                        margin-left: 50px;
                    }
                }

                p{
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 180%;
                    color: #959595;

                    opacity: 1;
                    transition: 0.3s;

                    margin-top: 3%;
                }
            }

            .hide{
                p{
                    opacity: 0;
                    font-size: 0;

                    margin-top: 0;
                }
            }
        }

        .questions .question-block:not(:last-child){
            margin-bottom: 4%;
        }
    }
}

.section-6{
    margin-bottom: 17.7%;

    h1{
        font-family: 'Chakra Petch', sans-serif;

        font-weight: 700;
        font-size: 60px;
        line-height: 78px;
        text-align: center;

        margin-bottom: 8%;
    }

    .img-box{
        max-width: 1235px;
        margin: 0 auto;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        img{
            width: 100%;
        }
    }
}

.section-7{
    position: relative;
    margin-bottom: 15.5%;

    img{
        position: absolute;
        z-index: -1;
    }

    .coin-left{
        left: 60px;
        top: -100px;

        z-index: 0;
    }

    .coin-right{
        right: 152px;
        top: 250px;

        z-index: 0;
    }

    .deco{
        position: absolute;
        z-index: -1;
        width: 30%;
    }

    .deco-left{
        left: 100px;
        top: -100px;

        background: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);
        filter: blur(100px);

        width: 460px;
        height: 494px;
    }

    .deco-right{
        right: 50px;
        top: 130px;

        background: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);
        filter: blur(100px);
        transform: matrix(-1, 0, 0, 1, 0, 0);

        width: 429px;
        height: 460px;
    }

    .contact-box{
        max-width: 611px;
        margin: 0 auto;
        text-align: center;

        h2{
            font-weight: 700;
            font-size: 50px;
            line-height: 61px;

            margin-bottom: 3.5%;
        }

        .forms{
            margin-bottom: 10%;

            form{
                border-bottom: 2px solid rgba(239, 57, 255, 0.8);
                text-align: left;

                position: relative;

                input{
                    padding: 41px 0 20px 10px;
                    background-color: rgba($color: #000000, $alpha: 0.0);

                    font-family: 'Montserrat', sans-serif;

                    font-weight: 500;
                    font-size: 28px;
                    line-height: 34px;

                    color: #FFFFFF;

                    width: 100%;
                    
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                }

                input::placeholder{
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 34px;
    
                    color: #959595;
                }

                /*
                label{
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 34px;
    
                    color: #959595;

                    position: absolute;

                    bottom: 20px;

                    transition: 0.3s;
                }*/

                /*
                input:focus ~ .label,
                input:not(:placeholder-shown) ~ .label {
                    transform: translateY(-30px) translateX(10px) scale(0.75);
                    //top: 15px;
                }*/
            }
        }

        button{
            border-radius: 0px 60px;
            border: 2px solid rgba(239, 57, 255, 0.8);
            background-color: rgba($color: #000000, $alpha: 0.0);

            filter: drop-shadow(2.36275px 2.36275px 23.6275px rgba(239, 57, 255, 0.5));

            padding: 17px 73px;

            font-weight: 600;
            font-size: 28px;
            line-height: 34px;

            color: #FFFFFF;
        }

        button:hover{
            background-color: #a355e2;
        }
    }
}


@media(max-width: 1450px){
    .main{
        padding-top: 150px;
        margin-bottom: 5.8%;
    
        .main_flex{
            flex-direction: column;
            
            .main_text{
                order: 2;
                text-align: center;

                h1{
                    font-size: 147px;
                    line-height: 191px;
                }
    
                .main_p1{
                    font-size: 48px;
                    line-height: 59px; 
                }
    
                .main_p2{
                    font-size: 37px;
                    line-height: 45px;
                }
    
                .main_button-flex{
                    justify-content: center;
                }
            }
    
            .main_img{
                flex-basis: 100%;
                max-width: 80%;
                margin: 0 auto;
            }
        }
    }

    .section-2{
        .block-flex{    
            .block-flex_info{
                .footer-info{    
                    .footer-info_deco{
                        h5{
                            font-size: 18px;
                            line-height: 180%;
                        }
                    }
                }
    
                button{
                    font-size: 21px;
                    line-height: 28px;
    
                    padding: 20px 18px;
    
                    left: -40px;
    
                    img{
                        margin-left: 18px;
                    }
                }
            }
        }

        .block-1 .block-flex_info{
            .deco{
                right: -100px;
                top: -200px;
            }
        }
    
        .block-2 .block-flex_info{
            .deco{
                left: -100px;
                top: -200px;
            }
        }
    
        .block-3 .block-flex_info{
            .deco{
                right: -100px;
                top: -200px;
            }
        }
    }
}

@media(max-width: 1150px){
    .section-1{
        h1{
            font-size: 50px;
            line-height: 60px;
        }
    }

    .section-2{
        .block-flex{
            justify-content: space-between;
    
            .block-flex_img{
                flex-basis: 47%;
                width: 100%;
    
                img{
                    width: 100%;
                }
            }
    
            .block-flex_info{
                flex-basis: 50%;
    
                .scobca-right{
                    text-align: right;
                    margin-bottom: -50px;
                }
    
                .scobca-left{
                    margin-top: -10px;
                    margin-left: -15px;
                }
    
                h2{
                    font-size: 60px;
                    line-height: 80px;
                }
    
                p{
                    line-height: 25px;
                }
    
                .footer-info{
                    align-items: flex-end;
    
                    .footer-info_deco{
                        align-items: flex-end;
    
                        .line-block{
                            height: 23px;
                        }
    
                        h5{
                            font-size: 18px;
                            line-height: 180%;
                        }
                    }
                }
    
                button{
                    font-size: 17px;
                    line-height: 28px;
    
                    padding: 16px 14px;
    
                    left: 0px;
    
                    img{
                        margin-left: 16px;
                    }
                }
            }
        }
    }

    .section-3{
        margin-bottom: 3%;
    
        h1{
            font-size: 50px;
            line-height: 60px;
        }
    
        .section-3_swiper-container{
            .swiper-wrapper{
                .swiper-slide{
                    img{
                        width: 100%;
                    }
    
                    h3{
                        font-size: 21px;
                        line-height: 25px;
                    }
    
                    h5{
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
        }
    
        button{
            padding: 10px 20px;
    
            font-size: 18px;
            line-height: 21px;
        }
    }

    .section-5{    
        .content-flex{
            flex-direction: column;
    
            .title{
                h1{
                    font-size: 50px;
                    line-height: 65px;
                }
    
                .title-img{
                    text-align: center;

                    img{
                        width: 90%;
                    }
                }
            }
    
            .questions{
                .question-block{
                    .title-flex{
                        h3{
                            font-size: 21px;
                            line-height: 21px;
                        }
                    }
    
                    p{
                        font-size: 16px;
                    }
                }

                .hide{
                    p{
                        opacity: 0;
                        font-size: 0;
    
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .section-6{
        h1{
            font-size: 45px;
            line-height: 60px;
        }
    
        .img-box{
            text-align: center;

            img{
                width: 80%;
            }
        }
    }

    .section-7{    
        .coin-left{
            display: none;
        }
    
        .coin-right{
            display: none;
        }
    
        .contact-box{
            h2{
                font-size: 40px;
                line-height: 50px;
            }
    
            .forms{
                form{
                    input{
                        font-size: 21px;
                        line-height: 30px;
                    }
    
                    input::placeholder{
                        font-weight: 500;
                        font-size: 21px;
                        line-height: 30px;
        
                        color: #959595;
                    }
                }
            }
    
            button{
                padding: 17px 73px;
    
                font-size: 24px;
                line-height: 30px;
            }
        }
    }

    .deco{
        display: none;
    }
}

@media(max-width: 940px){
    .main{
        padding-top: 150px;
    
        .main_flex{
            .main_text{

                h1{
                    font-size: 90px;
                    line-height: 100px;
                }
    
                .main_p1{
                    font-size: 30px;
                    line-height: 40px; 
                }
    
                .main_p2{
                    font-size: 20px;
                    line-height: 20px;
                }
            }
        }
    }

    .section-1{
        order: 2;
    }

    .section-2{
        order: 3;

        .block-flex{
            justify-content: space-between;
            flex-direction: column;
    
            .block-flex_img{
                flex-basis: 47%;
                width: 100%;
    
                img{
                    width: 100%;
                }
            }
    
            .block-flex_info{
                flex-basis: 50%;
    
                .scobca-right{
                    text-align: right;
                    margin-bottom: -50px;
                }
    
                .scobca-left{
                    margin-top: 0px;
                    margin-left: -15px;
                    position: relative;
                    top: -20px;
                }
    
                h2{
                    font-size: 60px;
                    line-height: 80px;
                }
    
                p{
                    line-height: 25px;
                }
    
                .footer-info{
                    align-items: flex-end;
                    flex-basis: 40%;

                    flex-direction: column;

                    a{
                        flex-basis: 100%;
                        margin: 0 auto;
                    }
    
                    .footer-info_deco{
                        align-items: flex-end;
                        flex-basis: 100%;
    
                        .line-block{
                            height: 23px;
                        }
    
                        h5{
                            font-size: 18px;
                            line-height: 180%;
                        }
                    }
                }
    
                button{
                    font-size: 21px;
                    line-height: 25px;
    
                    padding: 16px 21px;
    
                    left: 0px;
    
                    img{
                        margin-left: 10px;
                    }
                }
            }
        }

        .block-2{
            .block-flex_info {
                order: 1;
            }
        }
    }

    .section-3{
        order: 4;

        .section-3_team{
            display: none;
        }
    
        .swiper-container{
            display: block;

            .swiper-wrapper{
                .swiper-slide{
                    height: 520px;
                }
            }
        }

        .nav{
            display: block;
            position: absolute;

            img{
                width: 100%;
            }
        }

        .nav-left{
            left: 19px;
            top: 49%;
        }

        .nav-right{
            right: 19px;
            top: 49%;
        }

        .section-3_swiper-container{
            max-width: 80%;
            margin: 0 auto;

            .swiper-wrapper{
                .swiper-slide{
                    height: 330px;
                }
            }
        }

        .button{
            display: none;
        }
    }

    .section-4{
        order: 1;
    }

    .section-5{
        order: 5;
    }

    .section-6{
        order: 6;
    }

    .section-7{
        order: 7;
    }

    footer{
        order: 8;
    }
}

@media(max-width: 900px){
    .section-3{
        .swiper-container{
            display: block;
        
            .swiper-wrapper{
                .swiper-slide{
                    height: 470px;
                }
            }
        }
    }
}

@media(max-width: 800px){
    .section-3{
        .swiper-container{
            display: block;
        
            .swiper-wrapper{
                .swiper-slide{
                    height: 420px;
                }
            }
        }
    }
}

@media(max-width: 700px){
    .section-3{
        .swiper-container{
            display: block;
        
            .swiper-wrapper{
                .swiper-slide{
                    height: 370px;
                }
            }
        }
    }
}

@media(max-width: 600px){
    .main{
        padding-top: 100px;
    
        .main_flex{
            
            .main_text{

                h1{
                    font-size: 50px;
                    line-height: 60px;
                }
    
                .main_p1{
                    font-size: 21px;
                    line-height: 28px; 
                }
    
                .main_p2{
                    font-size: 18px;
                    line-height: 21px;
                }

                .main_button-flex{
                    button{
                        font-size: 18px;
                        line-height: 21px;

                        padding: 12px 17px;
                    }
                }
            }
        }
    }

    .section-1{
        h1{
            font-size: 24px;
            line-height: 31px;

            margin-bottom: 30px;
        }
    
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{
                    padding: 22px 15px 23px 15px;
                    height: auto;

                    .slide-content{
                        img{
                            width: 25%;
                        }

                        h3{
                            font-size: 16px;
                            line-height: 20px;
                        }
        
                        p{
                            font-size: 12px;
                            line-height: 15px;

                            margin-bottom: 15px;
                        }
        
                        button{
                            font-size: 15px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }

    .section-2{
        .block-flex{
            justify-content: space-between;
            flex-direction: column;
    
            .block-flex_img{
                flex-basis: 47%;
                width: 100%;
    
                img{
                    width: 100%;
                }
            }
    
            .block-flex_info{
                flex-basis: 50%;
    
                .scobca-right{
                    text-align: right;
                    margin-bottom: -50px;
                    margin-left: 10px;
                }
    
                .scobca-left{
                    margin-top: -25px;
                    margin-left: -15px;
                }
    
                h2{
                    font-size: 35px;
                    line-height: 60px;
                }
    
                p{
                    font-size: 16px;
                    line-height: 21px;
                    text-align: center;
                }
    
                .footer-info{
                    align-items: flex-end;

                    a{
                        flex-basis: 40%;
                    }

                    .footer-info_deco{
                        align-items: flex-end;
                        flex-basis: 60%;
    
                        .line-block{
                            height: 21px;
                        }
    
                        h5{
                            font-size: 16px;
                            line-height: 160%;
                        }
                    }
                }
    
                button{
                    font-size: 15px;
                    line-height: 18px;
    
                    padding: 16px 18px;
    
                    left: 0px;
    
                    img{
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .section-3{
        margin-bottom: 60px;
    
        h1{
            font-size: 30px;
            line-height: 39px;

            margin-bottom: 23px;
        }
    
        .section-3_swiper-container{
            max-width: 80%;
            margin: 0 auto;

            .swiper-wrapper{
                .swiper-slide{
                    position: relative;

                    height: 300px;

                    img{
                        width: 100%;
                    }
    
                    h3{
                        font-size: 12px;
                        line-height: 15px;
                    }
    
                    h5{
                        font-size: 9px;
                        line-height: 11px;
                    }

                    .icons-flex{
                        width: 70%;

                        position: absolute;
                        bottom: -5px;
                        left: 16%;

                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    
        button{
            display: none;

            padding: 10px 20px;
    
            font-size: 18px;
            line-height: 21px;
        }
    }

    .section-5{    
        margin-bottom: 150px;

        .content-flex{
            flex-direction: column;
    
            .title{
                margin-bottom: 25px;
                
                overflow: hidden;

                h1{
                    font-size: 30px;
                    line-height: 39px;
                    letter-spacing: 0.02em;
                }

                .title-img{
                    width: 160%;

                    position: relative;
                    right: 30%;
                }
            }

            .questions{
                .question-block{
                    padding-right: 15px;

                    .title-flex{
                        h3{
                            font-size: 14px;
                            line-height: 17px;
                        }

                        img{
                            width: 7%;

                            margin-left: 50px;
                        }
                    }
    
                    p{
                        font-size: 12px;
                        line-height: 15px;
                    }
                }

                .hide{
                    p{
                        opacity: 0;
                        font-size: 0;
    
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .section-6{
        h1{
            font-size: 21px;
            line-height: 27px;
        }
    
        .img-box{
            text-align: center;

            img{
                width: 100%;
            }
        }
    }

    .section-7{    
        .contact-box{
            h2{
                font-size: 30px;
                line-height: 35px;
            }

            button{
                padding: 15px 50px;
    
                font-size: 19px;
                line-height: 23px;                
            }
        }
    }
}

@media(max-width: 500px){
    .section-3{
        .swiper-container{
            display: block;
        
            .swiper-wrapper{
                .swiper-slide{
                    height: 250px;
                }
            }
        }
    }
}

@media(max-width: 400px){
    .section-3{
        .swiper-container{
            display: block;
        
            .swiper-wrapper{
                .swiper-slide{
                    height: 200px;
                }
            }
        }
    }
}