@import url("null.css");
@import url("header.css");

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=Montserrat:wght@400;500;600&display=swap');

body{
    background-color: black;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;

    overflow-x: hidden;

    min-width: 100%;
    min-height: 100vh;

    overflow: hidden;
}

.button_type1, .button_type2{
    padding: 18px 35px;
    border-radius: 50px;

    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    color: #FFFFFF;
}

.button_type1{
    border: 2px solid #FFFFFF;
    background: rgba($color: #FFFFFF, $alpha: 0);
}

.button_type2{
    border: #000000 2px solid;
    background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);  
}

.button_type2:hover{
    border: #FFFFFF 2px solid;
}

.button{
    transition: 0.3s;
}

.button:hover{
    transform: scale(1.05);
}

.button:active{
    transform: scale(0.98);
    transition: 0.1s;
}

h1{
    font-family: 'Chakra Petch', sans-serif;

    font-weight: 600;
    font-size: 150px;
    line-height: 195px;

    text-align: center;
    letter-spacing: 0.12em;

    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 10;
}

.elipse-1{
    position: absolute;

    top: -600px;
    left: -400px;

    background: linear-gradient(144.66deg, #FF6C56 6.96%, #FF9344 88.16%);
    filter: blur(150px);
    transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
}

.elipse-2{
    position: absolute;

    top: 55%;
    left: 85%;

    background: linear-gradient(144.66deg, #FF6C56 6.96%, #FF9344 88.16%);
    filter: blur(150px);
    transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
}