@import url("null.css");
@import url("header.css");
@import url("footer.css");
@import url("preloader.css");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=Montserrat:wght@400;500;600&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #FFFFFF;
  overflow-x: hidden;
}

.content {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 35px;
  position: relative;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.unscroll {
  overflow: hidden;
}

.button_type1, .button_type2 {
  padding: 18px 35px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.button_type1 {
  border: 2px solid #FFFFFF;
  background: rgba(255, 255, 255, 0);
}

.button_type2 {
  border: #000000 2px solid;
  background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);
}

.button_type2:hover {
  border: #FFFFFF 2px solid;
}

.button {
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.98);
  transition: 0.1s;
}

.main {
  padding-top: 11%;
  margin-bottom: 12%;
}
.main .main-gif {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
}
.main .main-gif img {
  width: 100%;
}
.main .deco {
  position: absolute;
  z-index: -1;
  top: 100px;
  right: 0;
  width: 50%;
}
.main .deco img {
  width: 100%;
}
.main h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 120px;
  line-height: 140px;
  background: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.main .h1-bottom {
  text-align: right;
  max-width: 465px;
}
.main p {
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  max-width: 465px;
  margin-bottom: 3.2%;
}
.main button {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(165, 122, 255);
  border-radius: 60px 0px;
  filter: drop-shadow(2.36275px 2.36275px 23.6275px rgba(165, 122, 255, 0.5));
  padding: 18px 70px;
}
.main .button:hover {
  background-color: #A57AFF;
}

.section-1 {
  position: relative;
  top: -50px;
  margin-bottom: 12%;
}
.section-1 .swiper-container {
  overflow: hidden;
  padding: 15px 0;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  padding: 25px 25px 0px 25px;
  margin: 0 auto;
  text-align: center;
  background: #0D0D0D;
  border: 1px solid #A57AFF;
  box-shadow: 2px 2px 9px #A57AFF;
  border-radius: 60px;
  width: 480px;
  height: 283px;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide img {
  margin-bottom: 3.6%;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide p {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide button {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: absolute;
  bottom: 5%;
  left: 43%;
}

.section-2 {
  position: relative;
  text-align: center;
  margin-bottom: 12.5%;
}
.section-2 .deco {
  position: absolute;
  z-index: -1;
  top: -650px;
  left: 0;
  width: 50%;
}
.section-2 .deco img {
  width: 100%;
}
.section-2 h1 {
  font-weight: 600;
  font-size: 69px;
  line-height: 84px;
  margin-bottom: 1.5%;
}
.section-2 h1 span {
  background: linear-gradient(117.47deg, #86AFFE 7.39%, #A57AFF 23.36%, #FB84FF 38.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.section-2 p {
  font-weight: 500;
  font-size: 25px;
  line-height: 155%;
  max-width: 1113px;
  margin: 0 auto 4.7%;
}
.section-2 .section-2_img img {
  width: 80%;
}

.section-3 {
  margin-bottom: 18%;
  position: relative;
  text-align: center;
}
.section-3 .deco {
  position: absolute;
  z-index: -1;
  width: 50%;
}
.section-3 .deco img {
  width: 100%;
}
.section-3 .deco-1 {
  top: -600px;
  right: 0;
}
.section-3 .deco-2 {
  top: 300px;
  left: 0;
}
.section-3 .deco-3 {
  bottom: -350px;
  right: 0;
}
.section-3 h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 61px;
  line-height: 79px;
  letter-spacing: 0.11em;
  margin-bottom: 2.3%;
}
.section-3 p {
  font-weight: 500;
  font-size: 25px;
  line-height: 155%;
  margin: 0 auto 7.5%;
  max-width: 1113px;
}
.section-3 .section-3_roadmap img {
  width: 100%;
}
.section-3 .section-3_roadmap .img-adapt {
  display: none;
}

.section-4 {
  position: relative;
  margin-bottom: 15.5%;
  /*
      .deco{
          position: absolute;
          z-index: -1;
          width: 30%;

          img{
              width: 100%;
          }
      }

      .deco-left{
          left: 100px;
          top: -150px;

          width: 40%;
      }

      .deco-right{
          right: 140px;
          top: 130px;

          width: 25%;
      }
  */
}
.section-4 img {
  position: absolute;
  z-index: -1;
}
.section-4 .coin-left {
  left: 60px;
  top: -350px;
}
.section-4 .coin-right {
  right: 152px;
  top: -100px;
}
.section-4 .contact-box {
  max-width: 611px;
  margin: 0 auto;
  text-align: center;
}
.section-4 .contact-box h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 3.5%;
}
.section-4 .contact-box .forms {
  margin-bottom: 10%;
}
.section-4 .contact-box .forms form {
  border-bottom: 2px solid rgba(239, 57, 255, 0.8);
  text-align: left;
  position: relative;
  /*
  label{
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;

      color: #959595;

      position: absolute;

      bottom: 20px;

      transition: 0.3s;
  }*/
  /*
  input:focus ~ .label,
  input:not(:placeholder-shown) ~ .label {
      transform: translateY(-30px) translateX(10px) scale(0.75);
      //top: 15px;
  }*/
}
.section-4 .contact-box .forms form input {
  padding: 41px 0 20px 10px;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.section-4 .contact-box .forms form input::-moz-placeholder {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #959595;
}
.section-4 .contact-box .forms form input::placeholder {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #959595;
}
.section-4 .contact-box button {
  border-radius: 0px 60px;
  border: 2px solid rgba(239, 57, 255, 0.8);
  background-color: rgba(0, 0, 0, 0);
  filter: drop-shadow(2.36275px 2.36275px 23.6275px rgba(239, 57, 255, 0.5));
  padding: 17px 73px;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}
.section-4 .contact-box button:hover {
  background-color: #a355e2;
}

.section-5 {
  text-align: center;
  margin-bottom: 7.5%;
}
.section-5 h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 83px;
  margin-bottom: 1.7%;
}
.section-5 h1 span {
  background: linear-gradient(116.77deg, #FC84FF 3.43%, #54D1FA 38.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.section-5 h5 {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 5%;
}
.section-5 .adress-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 863px;
  margin: 0 auto;
  padding: 10px 10px 10px 30px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
}
.section-5 .adress-block p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.section-5 .adress-block button {
  display: flex;
  align-items: center;
  padding: 24px 46px 20px;
  border: rgba(0, 0, 0, 0) 2px solid;
  background: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.section-5 .adress-block button img {
  margin-right: 14px;
}
.section-5 .adress-block button:hover {
  border: #FFFFFF 2px solid;
}

footer {
  border-top: 1px solid #FFFFFF;
}

@media (max-width: 1450px) {
  .main {
    padding-top: 38%;
    margin-bottom: 10%;
    text-align: center;
  }
  .main .main-gif {
    left: 0;
    top: -3%;
  }
  .main .main-gif img {
    min-height: 342px;
  }
  .main h1 {
    font-size: 120px;
    line-height: 140px;
    margin: 0 auto;
  }
  .main .h1-bottom {
    text-align: right;
    max-width: 465px;
  }
  .main p {
    font-size: 22px;
    line-height: 29px;
    margin: 0 auto 3.2%;
  }
  .main button {
    font-size: 22px;
    line-height: 27px;
    padding: 18px 70px;
  }
}
@media (max-width: 1150px) {
  .main {
    padding-top: 38%;
    text-align: center;
  }
  .main .main-gif {
    left: 0;
    top: -3%;
  }
  .main h1 {
    font-size: 90px;
    line-height: 100px;
  }
  .main .h1-top {
    position: relative;
    left: -10%;
  }
  .main .h1-bottom {
    text-align: center;
  }
  .main p {
    font-size: 22px;
    line-height: 29px;
  }
  .main button {
    font-size: 22px;
    line-height: 27px;
    padding: 18px 70px;
  }
  .section-1 .swiper-container .swiper-wrapper .swiper-slide p {
    font-size: 14px;
    line-height: 17px;
  }
  .section-2 {
    text-align: center;
  }
  .section-2 h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .section-2 p {
    font-size: 21px;
    line-height: 155%;
  }
  .section-2 .section-2_img img {
    width: 90%;
  }
  .section-3 h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .section-3 p {
    font-size: 21px;
  }
  .section-3 .section-3_roadmap img {
    width: 80%;
  }
  .section-4 .coin-left {
    display: none;
  }
  .section-4 .coin-right {
    display: none;
  }
  .section-4 .contact-box h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .section-4 .contact-box .forms form input {
    font-size: 21px;
    line-height: 30px;
  }
  .section-4 .contact-box .forms form input::-moz-placeholder {
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
    color: #959595;
  }
  .section-4 .contact-box .forms form input::placeholder {
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
    color: #959595;
  }
  .section-4 .contact-box button {
    padding: 17px 73px;
    font-size: 24px;
    line-height: 30px;
  }
  .deco {
    display: none;
  }
}
@media (max-width: 940px) {
  .section-5 {
    display: none;
  }
}
@media (max-width: 700px) {
  .section-1 .swiper-container .swiper-wrapper .swiper-slide p {
    padding-top: 5px;
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 600px) {
  .main {
    padding-top: 230px;
    margin-bottom: 22%;
  }
  .main .main-gif {
    left: 0;
    top: -3%;
  }
  .main h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 15px;
  }
  .main p {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 30px;
  }
  .main button {
    font-size: 18px;
    line-height: 21px;
    padding: 10px 25px;
  }
  .section-1 .swiper-container .swiper-wrapper .swiper-slide img {
    width: 90px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .section-1 .swiper-container .swiper-wrapper .swiper-slide p {
    font-size: 12px;
    line-height: 15px;
  }
  .section-1 .swiper-container .swiper-wrapper .swiper-slide .button {
    left: 43%;
    font-size: 15px;
    line-height: 18px;
  }
  .section-2 {
    text-align: center;
  }
  .section-2 h1 {
    font-size: 30px;
    line-height: 37px;
  }
  .section-2 p {
    font-size: 12px;
    line-height: 155%;
  }
  .section-2 .section-2_img img {
    width: 100%;
  }
  .section-3 h1 {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 30px;
  }
  .section-3 p {
    display: none;
  }
  .section-3 .section-3_roadmap img {
    width: 80%;
  }
  .section-3 .section-3_roadmap .img {
    display: none;
  }
  .section-3 .section-3_roadmap .img-adapt {
    display: block;
    margin: 0 auto;
  }
  .section-4 .contact-box h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .section-4 .contact-box button {
    padding: 15px 50px;
    font-size: 19px;
    line-height: 23px;
  }
}/*# sourceMappingURL=token.css.map */