@import url("null.css");
@import url("header.css");
@import url("footer.css");
@import url("preloader.css");

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=Montserrat:wght@400;500;600&display=swap');

//font-family: 'Chakra Petch', sans-serif;
//font-family: 'Montserrat', sans-serif;

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;

    overflow-x: hidden;
}

.content{
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 35px;

    position: relative;
}



.button_type1, .button_type2{
    padding: 18px 35px;
    border-radius: 50px;

    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    color: #FFFFFF;
}

.button_type1{
    border: 2px solid #FFFFFF;
    background: rgba($color: #FFFFFF, $alpha: 0);
}

.button_type2{
    border: #000000 2px solid;
    background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);  
}

.button_type2:hover{
    border: #FFFFFF 2px solid;
}

.button{
    transition: 0.3s;
}

.button:hover{
    transform: scale(1.05);
}

.button:active{
    transform: scale(0.98);
    transition: 0.1s;
}


.main{
    min-height: 900px;

    padding-top: 238px;

    background: url('../source/img/token_main-back.svg') 50% 50%/cover no-repeat;

    h1{
        font-family: 'Chakra Petch', sans-serif;

        font-weight: 600;
        font-size: 120px;
        line-height: 140px;

        background: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        //margin-bottom: 21px;
    }

    .h1-bottom{
        text-align: right;
        max-width: 465px;
    }

    p{
        font-weight: 400;
        font-size: 22px;
        line-height: 29px;

        max-width: 465px;

        margin-bottom: 45px;
    }

    button{
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        
        color: #FFFFFF;

        background-color: rgba($color: #000000, $alpha: 0);
        border: 1px solid rgb(165, 122, 255);
        border-radius: 60px 0px;
        filter: drop-shadow(2.36275px 2.36275px 23.6275px rgba(165, 122, 255, 0.5));

        padding: 18px 70px;
    }

    .button:hover{
        background-color: #A57AFF;
    }
}

.section-1{
    position: relative;
    top: -50px;

    margin-bottom: 185px;

    .swiper-container{
        .swiper-wrapper{
            .swiper-slide{
                position: relative;

                padding: 25px 25px 0 25px;

                margin: 0 auto;
                text-align: center;
                
                background: #0D0D0D;
                border: 1px solid #A57AFF;
                box-shadow: 2px 2px 9px #A57AFF;
                border-radius: 60px;

                width: 480px;
                height: 283px;

                img{
                    margin-bottom: 15px;
                }

                p{
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 21px;
                    text-align: center;
                    letter-spacing: 0.02em;
                }
            
                button{
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 27px;
                    
                    background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;

                    position: absolute;
                    bottom: 19px;
                    left: 43%;
                }
            }
        }
    }
}

.section-2{
    text-align: center;

    margin-bottom: 200px;

    h1{
        font-weight: 600;
        font-size: 69px;
        line-height: 84px;

        margin-bottom: 21px;

        span{
            background: linear-gradient(117.47deg, #86AFFE 7.39%, #A57AFF 23.36%, #FB84FF 38.85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    p{
        font-weight: 500;
        font-size: 25px;
        line-height: 155%;

        max-width: 1113px;

        margin: 0 auto 66px;
    }

    .section-2_img{
        img{
            width: 80%;
        }
    }
}

.section-3{
    margin-bottom: 286px;

    text-align: center;

    h1{
        font-family: 'Chakra Petch', sans-serif;

        font-weight: 600;
        font-size: 61px;
        line-height: 79px;
        letter-spacing: 0.11em;

        margin-bottom: 32px;
    }

    p{
        font-weight: 500;
        font-size: 25px;
        line-height: 155%;

        margin: 0 auto 100px;

        max-width: 1113px;
    }

    .section-3_roadmap{
        img{
            width: 100%;
        }
    }
}

.section-4{
    position: relative;
    margin-bottom: 248px;

    img{
        position: absolute;
    }

    .coin-left{
        left: 60px;
        top: -100px;
    }

    .coin-right{
        right: 152px;
        top: 250px;
    }

    .contact-box{
        max-width: 611px;
        margin: 0 auto;
        text-align: center;

        h2{
            font-weight: 700;
            font-size: 50px;
            line-height: 61px;

            margin-bottom: 22px;
        }

        .forms{
            margin-bottom: 60px;

            form{
                border-bottom: 2px solid #FFFFFF;
                text-align: left;

                position: relative;

                input{
                    padding: 41px 0 20px 10px;
                    background-color: rgba($color: #000000, $alpha: 0.0);

                    font-family: 'Montserrat', sans-serif;

                    font-weight: 500;
                    font-size: 28px;
                    line-height: 34px;

                    color: #FFFFFF;

                    width: 100%;
                }

                input::placeholder{
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 34px;
    
                    color: #959595;
                }

                /*
                label{
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 34px;
    
                    color: #959595;

                    position: absolute;

                    bottom: 20px;

                    transition: 0.3s;
                }*/

                /*
                input:focus ~ .label,
                input:not(:placeholder-shown) ~ .label {
                    transform: translateY(-30px) translateX(10px) scale(0.75);
                    //top: 15px;
                }*/
            }
        }

        button{
            border-radius: 0px 60px;
            border: 2px solid #FFFFFF;
            background-color: rgba($color: #000000, $alpha: 0.0);

            filter: drop-shadow(2.36275px 2.36275px 23.6275px rgba(239, 57, 255, 0.5));

            padding: 17px 73px;

            font-weight: 600;
            font-size: 28px;
            line-height: 34px;

            color: #FFFFFF;
        }

        button:hover{
            background-color: #a355e2;
        }
    }
}

.section-5{
    text-align: center;

    margin-bottom: 118px;

    h1{
        font-family: 'Chakra Petch', sans-serif;

        font-weight: 600;
        font-size: 64px;
        line-height: 83px;

        margin-bottom: 25px;

        span{
            background: linear-gradient(116.77deg, #FC84FF 3.43%, #54D1FA 38.39%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    h5{
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;

        margin-bottom: 70px;
    }

    .adress-block{
        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: 863px;

        margin: 0 auto;
        padding: 10px 10px 10px 30px;

        border: 1px solid #FFFFFF;
        border-radius: 50px;

        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;            
        }

        button{
            display: flex;
            align-items: center;

            padding: 24px 46px 20px;

            border: rgba($color: #000000, $alpha: 0) 2px solid;
            background: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);
            border-radius: 50px;

            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;

            img{
                margin-right: 14px;
            }
        }

        button:hover{
            border: #FFFFFF 2px solid;
        }
    }
}

footer{
    border-top: 1px solid #FFFFFF;
}


@media(max-width: 1150px){
    .section-1{
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{    
                    p{
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
    }

    .section-2{
        text-align: center;
        
        h1{
            font-size: 50px;
            line-height: 60px;
        }
    
        p{
            font-size: 21px;
            line-height: 155%;
        }
    
        .section-2_img{
            img{
                width: 90%;
            }
        }
    }

    .section-3{    
        h1{
            font-size: 50px;
            line-height: 60px;
        }
    
        p{
            font-size: 21px;
        }
    
        .section-3_roadmap{
            img{
                width: 80%;
            }
        }
    }

    .section-4{    
        .coin-left{
            display: none;
        }
    
        .coin-right{
            display: none;
        }
    
        .contact-box{
            h2{
                font-size: 40px;
                line-height: 50px;
            }
    
            .forms{
                form{
                    input{
                        font-size: 21px;
                        line-height: 30px;
                    }
    
                    input::placeholder{
                        font-weight: 500;
                        font-size: 21px;
                        line-height: 30px;
        
                        color: #959595;
                    }
                }
            }
    
            button{
                padding: 17px 73px;
    
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
}

@media(max-width: 940px){
    .section-5{
        display: none;
    }
}

@media(max-width: 600px){
    .section-2{
        text-align: center;
        
        h1{
            font-size: 40px;
            line-height: 50px;
        }

        p{
            font-size: 16px;
            line-height: 155%;
        }

        .section-2_img{
            img{
                width: 90%;
            }
        }
    }

    .section-3{    
        h1{
            font-size: 40px;
            line-height: 50px;
        }
    
        p{
            font-size: 16px;
        }
    
        .section-3_roadmap{
            img{
                width: 80%;
            }
        }
    }
}