@import url("null.css");
@import url("header.css");
@import url("footer.css");
@import url("preloader.css");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=Montserrat:wght@400;500;600&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #FFFFFF;
  overflow-x: hidden;
}

.content {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 35px;
  position: relative;
}

.button_type1, .button_type2 {
  padding: 18px 35px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.button_type1 {
  border: 2px solid #FFFFFF;
  background: rgba(255, 255, 255, 0);
}

.button_type2 {
  border: #000000 2px solid;
  background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);
}

.button_type2:hover {
  border: #FFFFFF 2px solid;
}

.button {
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.98);
  transition: 0.1s;
}

.main {
  min-height: 900px;
  padding-top: 238px;
  background: url("../source/img/token_main-back.svg") 50% 50%/cover no-repeat;
}
.main h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 120px;
  line-height: 140px;
  background: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.main .h1-bottom {
  text-align: right;
  max-width: 465px;
}
.main p {
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  max-width: 465px;
  margin-bottom: 45px;
}
.main button {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(165, 122, 255);
  border-radius: 60px 0px;
  filter: drop-shadow(2.36275px 2.36275px 23.6275px rgba(165, 122, 255, 0.5));
  padding: 18px 70px;
}
.main .button:hover {
  background-color: #A57AFF;
}

.section-1 {
  position: relative;
  top: -50px;
  margin-bottom: 185px;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  padding: 25px 25px 0 25px;
  margin: 0 auto;
  text-align: center;
  background: #0D0D0D;
  border: 1px solid #A57AFF;
  box-shadow: 2px 2px 9px #A57AFF;
  border-radius: 60px;
  width: 480px;
  height: 283px;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide img {
  margin-bottom: 15px;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide p {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
}
.section-1 .swiper-container .swiper-wrapper .swiper-slide button {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  background: linear-gradient(103.59deg, #86AFFE 13.23%, #A57AFF 53.2%, #FB84FF 91.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: absolute;
  bottom: 19px;
  left: 43%;
}

.section-2 {
  text-align: center;
  margin-bottom: 200px;
}
.section-2 h1 {
  font-weight: 600;
  font-size: 69px;
  line-height: 84px;
  margin-bottom: 21px;
}
.section-2 h1 span {
  background: linear-gradient(117.47deg, #86AFFE 7.39%, #A57AFF 23.36%, #FB84FF 38.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.section-2 p {
  font-weight: 500;
  font-size: 25px;
  line-height: 155%;
  max-width: 1113px;
  margin: 0 auto 66px;
}

.section-5 {
  text-align: center;
  margin-bottom: 118px;
}
.section-5 h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 83px;
  margin-bottom: 25px;
}
.section-5 h1 span {
  background: linear-gradient(116.77deg, #FC84FF 3.43%, #54D1FA 38.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.section-5 h5 {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 70px;
}
.section-5 .adress-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 863px;
  margin: 0 auto;
  padding: 10px 10px 10px 30px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
}
.section-5 .adress-block p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.section-5 .adress-block button {
  display: flex;
  align-items: center;
  padding: 24px 46px 20px;
  border: rgba(0, 0, 0, 0) 2px solid;
  background: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.section-5 .adress-block button img {
  margin-right: 14px;
}
.section-5 .adress-block button:hover {
  border: #FFFFFF 2px solid;
}

footer {
  border-top: 1px solid #FFFFFF;
}/*# sourceMappingURL=token.css.map */